################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C698Project/bin/Debug
/C698Project/obj/Debug
